<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acr_values_supported</key>
	<array>
		<string>2</string>
		<string>3</string>
	</array>
	<key>authorization_endpoint</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/auth</string>
	<key>check_session_iframe</key>
	<string>https://reference.mobileconnect.io/mobileconnect/opframe.php</string>
	<key>claim_types_supported</key>
	<array>
		<string>normal</string>
	</array>
	<key>claims_locales_supported</key>
	<array>
		<string>en-US</string>
	</array>
	<key>claims_parameter_supported</key>
	<string>1</string>
	<key>claims_supported</key>
	<array>
		<string>name</string>
		<string>given_name</string>
		<string>family_name</string>
		<string>middle_name</string>
		<string>nickname</string>
		<string>preferred_username</string>
		<string>profile</string>
		<string>picture</string>
		<string>website</string>
		<string>email</string>
		<string>email_verified</string>
		<string>gender</string>
		<string>birthdate</string>
		<string>zoneinfo</string>
		<string>locale</string>
		<string>phone_number</string>
		<string>phone_number_verified</string>
		<string>address</string>
		<string>updated_at</string>
	</array>
	<key>display_values_supported</key>
	<array>
		<string>page</string>
	</array>
	<key>end_session_endpoint</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/endsession</string>
	<key>grant_types_supported</key>
	<array>
		<string>authorization_code</string>
	</array>
	<key>id_token_encryption_enc_values_supported</key>
	<array>
		<string>A128CBC-HS256</string>
		<string>A256CBC-HS512</string>
		<string>A128GCM</string>
		<string>A256GCM</string>
	</array>
	<key>id_token_signing_alg_values_supported</key>
	<array>
		<string>HS256</string>
		<string>HS384</string>
		<string>HS512</string>
		<string>RS256</string>
		<string>RS384</string>
		<string>RS512</string>
	</array>
	<key>issuer</key>
	<string>https://reference.mobileconnect.io/mobileconnect</string>
	<key>jwks_uri</key>
	<string>https://reference.mobileconnect.io/mobileconnect/op.jwk</string>
	<key>login_hint_methods_supported</key>
	<array>
		<string>MSISDN</string>
		<string>ENCR_MSISDN</string>
		<string>PCR</string>
	</array>
	<key>mobile_connect_version_supported</key>
	<array>
		<dict>
			<key>openid</key>
			<string>mc_v1.1</string>
		</dict>
		<dict>
			<key>openid mc_authn</key>
			<string>mc_v1.2</string>
		</dict>
		<dict>
			<key>openid mc_authz</key>
			<string>mc_v1.2</string>
		</dict>
	</array>
	<key>op_policy_uri</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/op_policy</string>
	<key>op_tos_uri</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/op_tos</string>
	<key>premiuminfo_endpoint</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/premiuminfo</string>
	<key>request_object_encryption_alg_values_supported</key>
	<array>
		<string>RSA1_5</string>
		<string>RSA-OAEP</string>
	</array>
	<key>request_object_encryption_enc_values_supported</key>
	<array>
		<string>A128CBC-HS256</string>
		<string>A256CBC-HS512</string>
		<string>A128GCM</string>
		<string>A256GCM</string>
	</array>
	<key>request_object_signing_alg_values_supported</key>
	<array>
		<string>HS256</string>
		<string>HS384</string>
		<string>HS512</string>
		<string>RS256</string>
		<string>RS384</string>
		<string>RS512</string>
	</array>
	<key>request_parameter_supported</key>
	<true/>
	<key>request_uri_parameter_supported</key>
	<true/>
	<key>require_request_uri_registration</key>
	<false/>
	<key>response_types_supported</key>
	<array>
		<string>code</string>
		<string>code token</string>
		<string>code id_token</string>
		<string>token</string>
		<string>token id_token</string>
		<string>code token id_token</string>
		<string>id_token</string>
	</array>
	<key>scopes_supported</key>
	<array>
		<string>openid</string>
		<string>mc_authn</string>
		<string>mc_authz</string>
		<string>profile</string>
		<string>email</string>
		<string>address</string>
	</array>
	<key>service_documentation</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/servicedocs</string>
	<key>subject_types_supported</key>
	<array>
		<string>public</string>
		<string>pairwise</string>
	</array>
	<key>token_endpoint</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/token</string>
	<key>token_endpoint_auth_methods_supported</key>
	<array>
		<string>client_secret_post</string>
		<string>client_secret_basic</string>
		<string>client_secret_jwt</string>
		<string>private_key_jwt</string>
	</array>
	<key>token_endpoint_auth_signing_alg_values_supported</key>
	<array>
		<string>HS256</string>
		<string>HS384</string>
		<string>HS512</string>
		<string>RS256</string>
		<string>RS384</string>
		<string>RS512</string>
	</array>
	<key>ui_locales_supported</key>
	<array>
		<string>en-US</string>
	</array>
	<key>userinfo_encryption_alg_values_supported</key>
	<array>
		<string>RSA1_5</string>
		<string>RSA-OAEP</string>
	</array>
	<key>userinfo_encryption_enc_values_supported</key>
	<array>
		<string>A128CBC-HS256</string>
		<string>A256CBC-HS512</string>
		<string>A128GCM</string>
		<string>A256GCM</string>
	</array>
	<key>userinfo_endpoint</key>
	<string>https://reference.mobileconnect.io/mobileconnect/index.php/userinfo</string>
	<key>userinfo_signing_alg_values_supported</key>
	<array>
		<string>HS256</string>
		<string>HS384</string>
		<string>HS512</string>
		<string>RS256</string>
		<string>RS384</string>
		<string>RS512</string>
	</array>
	<key>version</key>
	<string>3.0</string>
</dict>
</plist>
