<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>93d47e50-a3c3-45bd-9627-ee8391de3fc3</string>
	<key>clientSecret</key>
	<string>7f09bb4a-ce91-426e-9cd6-ce5da5779173</string>
	<key>msisdn</key>
	<string>+447700900907</string>
	<key>discoveryURL</key>
	<string>https://discovery.sandbox.mobileconnect.io/v2/discovery</string>
	<key>redirectURL</key>
	<string>https://example.com</string>
	<key>XRedirect</key>
	<false/>
</dict>
</plist>
