<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>response</key>
	<dict>
		<key>apis</key>
		<dict>
			<key>operatorid</key>
			<dict>
				<key>link</key>
				<array>
					<dict>
						<key>href</key>
						<string>https://connect.telenordigital.com/oauth/telenor_pakistan/authorize</string>
						<key>rel</key>
						<string>authorization</string>
					</dict>
					<dict>
						<key>href</key>
						<string>https://connect.telenordigital.com/oauth/telenor_pakistan/token</string>
						<key>rel</key>
						<string>token</string>
					</dict>
					<dict>
						<key>href</key>
						<string>https://connect.telenordigital.com/oauth/telenor_pakistan/userinfo</string>
						<key>rel</key>
						<string>userinfo</string>
					</dict>
					<dict>
						<key>href</key>
						<string>https://connect.telenordigital.com/oauth/telenor_pakistan/token</string>
						<key>rel</key>
						<string>tokenrefresh</string>
					</dict>
					<dict>
						<key>href</key>
						<string>https://connect.telenordigital.com/oauth/telenor_pakistan/revoke</string>
						<key>rel</key>
						<string>tokenrevoke</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>client_id</key>
		<string>x-NTQwOGM4MmY1MzlmNWUyZTYw</string>
		<key>client_secret</key>
		<string>x-ZmIzMTlmNDQ5MzlmODcxMmI</string>
		<key>country</key>
		<string>Pakistan</string>
		<key>currency</key>
		<string>PKR</string>
		<key>serving_operator</key>
		<string>telenor_pakistan</string>
	</dict>
	<key>subscriber_id</key>
	<string>284308486132a457908891c431d3aa15c2f289312c286feda6f6c9fcd7a4a011cbeb9f67fa70b5ce2b963399f9e889388e5bc437cf93cd5ac7de167436a0ee4ab2b6a58e294be4b4985b281b7e79fec6d7e596466cd000b56b74d26e45a88846bdcca02c69ae3a392a01ea1ed79e3832c48b089bb444a46bd2b930a5d27a7fe9c6afc0fbcfa0635e043ad71952153c79421b097fae7d626e2aed0c6b05e67db04c4057eb76dd08ea3604a68f41b9ef9f8d189883b4107e372a8115f69553acd86c848e67c0c2017296e544da8cd86c0cc4224b4c3b0ebf42b7857b6c5c9f6b5550c866d97b165610a6113741bcf1544480ca403809b47c2ab57fbb71d7912a90</string>
	<key>ttl</key>
	<integer>1480586270</integer>
</dict>
</plist>
