<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>subscriberId</key>
	<string>subId</string>
	<key>clientId</key>
	<string>id</string>
	<key>clientSecret</key>
	<string>secret</string>
	<key>applicationName</key>
	<string>appName</string>
</dict>
</plist>
