<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authorization</key>
	<string>https://operator-g.integration.sandbox.mobileconnect.io/oidc/authorize</string>
	<key>token</key>
	<string>https://operator-g.integration.sandbox.mobileconnect.io/oidc/accesstoken</string>
	<key>userinfo</key>
	<string>https://operator-g.integration.sandbox.mobileconnect.io/oidc/userinfo</string>
	<key>tokenrevoke</key>
	<string>https://operator-g.integration.sandbox.mobileconnect.io/oidc/revoke</string>
	<key>premiuminfo</key>
	<string>https://operator-g.integration.sandbox.mobileconnect.io/oidc/premiuminfo</string>
	<key>openid-configuration</key>
	<string>https://operator-g.integration.sandbox.mobileconnect.io/.well-known/openid-configuration</string>
</dict>
</plist>
